language: node_js

node_js:
  - "16.6.1"

env:
   - DATABASE_URL=postgresql://localhost:5432/my_fruit_basket

before_script:
  - psql -c 'create database my_fruit_basket;' -U postgres
  - psql -U postgres -d my_fruit_basket -a -f fruit_basket.sql

services: 
  - postgresql